<div class="container-fluid">
  <div class="container">
      <div class="row" style="padding: 120px 0px;">
          <div class="col-sm-12 col-md-8">
              <div class="footer-text-container">
                  <div class="pt-4 pb-4">
                      <h3 style="letter-spacing: 5px;">SHYFT</h3>
                  </div>
                  <div>
                      <p class="p-para">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum netus fames viverra facilisis. Vulputate sed lectus augue senectus et. Et ipsum congue senectus viverra semper lectus nisl.
                      </p>
                  </div>
                  <div class="footer-link-container pt-5">
                      <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policies</a>
                  </div>
                  
              </div> 
          </div>
          <div class="col-sm-12 col-md-4">
              <div  style="width: 100%; margin-top: 30px;">
                  <div class="d-flex flex-row justify-content-end p-3">
                      <div class="p-1"><a href="#"><img src="assets/images/Icons/twitter.png" alt=""></a></div>
                      <div class="p-1"><a href="#"><img src="assets/images/Icons/instagram.png" alt=""></a></div>
                      <div class="p-1"><a href="#"><img src="assets/images/Icons/discord.png" alt=""></a></div>
                      <div class="p-1"><a href="#"><img src="assets/images/Icons/facebook.png" alt=""></a></div>
                      <div class="p-1"><a href="#"><img src="assets/images/Icons/google.png" alt=""></a></div>
                      <div class="p-1"><a href="#"><img src="assets/images/Icons/linkedin.png" alt=""></a></div>
                  </div>
              </div>
              
          </div>
      </div>
      
  </div>

</div>
