<app-side-nav
  [isSidenavActive]="isSidenavActive"
  [isAuthenticated]="isAuthenticated"
  [isMenuActive]="isMenuActive"
></app-side-nav>
<nav class="navbar navbar-expand fixed-top our-navbar-dark">
  <div class="container-fluid contained-nav">
    <a class="navbar-brand me-2" routerLink="/"
      ><img
        src="assets/images/dark-assets/shyft-logo.svg"
        style="width: 80px"
        alt="Shyft"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav mb-2 mb-lg-0"></ul>

      <div class="d-flex align-items-center custom-nav-links">
        <a
          type="button"
          class="btn btn-link px-3 me-2"
          href="https://docs.shyft.to"
          target="_blank"
        >
          Dev Docs
        </a>
        <a
          type="button"
          class="btn btn-link px-3 me-4"
          href="https://api.shyft.to/sol/api/explore"
          target="_blank"
        >
          APIs
        </a>
        <div
          class="postman-run-button"
          data-postman-action="collection/fork"
          data-postman-var-1="18419720-f8e4000d-066d-4476-9790-01620490471b"
          data-postman-collection-url="entityId=18419720-f8e4000d-066d-4476-9790-01620490471b&entityType=collection&workspaceId=8d164192-365d-4e69-8eec-54da86979a9e"
          data-postman-param="env%5BShyft%5D=W3sia2V5IjoidXJsIiwidmFsdWUiOiJodHRwczovL2FwaS5zaHlmdC50by9zb2wvdjEiLCJlbmFibGVkIjp0cnVlLCJ0eXBlIjoiZGVmYXVsdCJ9XQ=="
        ></div>
        <button
          id="side-panel"
          [ngStyle]="{
            display: isDashboardUrl && isMenuActive ? 'block' : 'none'
          }"
          type="button"
          class="btn btn-primary me-3"
          (click)="openSidenav()"
        >
          &#9776;
        </button>
      </div>
    </div>
  </div>
</nav>
