<div class="outer-content-area">
  <div class="inner-content-area add-padd">
    <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="text-center">
          <div class="seethrough-searchbar">
            <div class="row">
              <div class="col-1">
                <div class="search-icon-container">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <div class="col-11">
                <div class="search-input-container">
                  <input
                    type="text"
                    class="search-input"
                    placeholder="Search"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <select
          class="form-select search-form-styles"
          id="sel-chain"
          name="selchain"
        >
          <option value="0xeac2daeb9ac99efbb45c0cb87f1d350eb2c552f9">
            0xeac2daeb9ac99efbb45c0cb87f1d350eb2c552f9
          </option>
          <option value="0xeac2daeb9ac99efbb45c0cb87f1d350eb2c552f9">
            0xeac2daeb9ac99efbb45c0cb87f1d350eb2c552f9
          </option>
          <option value="0xeac2daeb9ac99efbb45c0cb87f1d350eb2c552f9">
            0xeac2daeb9ac99efbb45c0cb87f1d350eb2c552f9
          </option>
        </select>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center flex-wrap mb-3">
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_bwface.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_colorface.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_face.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_bwface.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_colorface.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_face.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_bwface.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_colorface.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="cards-outer">
          <div class="inner-box">
            <img src="assets/images/unsplash_face.png" />
            <p class="gall-para">Token ID: 32452</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
