<div class="outer-content-area">
  <div class="inner-content-area">
    <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
    <div class="row pt-5">
      <div class="col-md-8">
        <h1 class="dash-medium-headings py-5">Explore Astonishing NFTs</h1>
        <!-- <p class="p-para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum
          netus fames viverra facilisis. Vulputate sed lectus augue senectus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum
          netus fames viverra facilisis. Vulputate sed lectus augue
          senectus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Interdum netus fames viverra facilisis. Vulputate sed lectus augue
          senectus.
        </p> -->
        <div
          class="forms-container"
          [ngClass]="{
            'is-invalid': isSubmitted && f.tokenId.errors
          }"
        >
          <div class="search-boxes">
            <form
              [formGroup]="readNftForm"
              #readForm="ngForm"
              (ngSubmit)="readNft(readForm.value)"
            >
              <div class="row">
                <div class="col-8">
                  <input
                    class="transparent-inputs"
                    type="text"
                    placeholder="Enter token Id"
                    formControlName="tokenId"
                    (ngModelChange)="onChangeTokenId($event)"
                  />
                </div>
                <div class="col-4">
                  <button class="search-button" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="isSubmitted && f.tokenId.errors" class="invalid-feedback">
          <div *ngIf="f.tokenId.errors.required">Token ID is required!</div>
          <div *ngIf="f.tokenId.errors.pattern">Numbers only!</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 col-lg-6">
        <div class="details-container">
          <h5 class="edit-medium-headings">Token ID: {{ tokenId }}</h5>

          <p class="p-para">Title</p>
          <p class="p-para-normal">
            {{ title }}
          </p>
          <div class="pt-2 pb-3">
            <img class="img-fluid" [src]="image" alt="" />
          </div>
          <h5 class="edit-medium-headings">Details</h5>
          <div class="row">
            <div class="col">
              <p class="p-para">Blockchain</p>
            </div>
            <div class="col">
              <p class="p-para-normal">Etherium</p>
            </div>
          </div>
          <p class="p-para">Mint - to - Address</p>
          <p class="p-para-normal">
            {{ mintToAddress }}
          </p>
          <p class="p-para">Meta Data</p>
          <p class="p-para-normal">
            {{ nftURI }}
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-1">
        <!-- Gap creator -->
      </div>
      <div class="col-md-12 col-lg-5">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 p-1">
            <div class="request-boxes mt-4">
              <div class="heading-box">
                <table style="width: 100%">
                  <tr>
                    <td class="headings" style="width: 73%; padding: 20px 20px">
                      Shell/cURL
                    </td>
                    <td style="width: 30%; position: relative">
                      <button
                        class="copy-btn"
                        style="position: absolute; right: 10px; bottom: 10px"
                        (click)="copyCurl()"
                      >
                        Copy
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="box-body">
                <textarea class="transparent-inputs">{{ curl }}</textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 p-1">
            <div class="request-boxes mt-4">
              <div class="heading-box">
                <table style="width: 100%">
                  <tr>
                    <td class="headings" style="width: 55%; padding: 20px 20px">
                      Response
                    </td>
                    <td style="width: 45%; position: relative">
                      <button
                        class="copy-btn"
                        style="position: absolute; right: 10px; bottom: 10px"
                        (click)="copyTokenId()"
                      >
                        Copy Token ID
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="box-body">
                <textarea class="transparent-inputs">{{ response | json }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 col-lg-6">
        <h5 class="edit-medium-headings">Get your minted NFTs</h5>
        <p class="p-para-normal">
          <strong class="p-para">POST</strong>
          https://api.shyft.to/tokenURI
        </p>

        <p class="p-para-normal">
          Post request using <code>tokenID</code> and you'll get as response <code>tokenURI</code>.
        </p>

        <p class="p-para-normal">
          <strong class="p-para">POST</strong>
          https://api.shyft.to/ownerOf
        </p>

        <p class="p-para-normal">
          Post request using <code>tokenID</code> and you'll get as response <code>owner</code>.
        </p>

        <p class="p-para-normal">
          <strong>Useful for:</strong>
          Retrieving your NFT minting history.
        </p>
        <!-- <p class="p-para-normal">
          <strong>Related:</strong>
          To see all the contracts you've previously deployed, see List all your
          deployed contracts. To see all your previous IPFS uploads, see List
          all your IPFS uploads.
        </p>
        <p class="p-para">
          Request Query Parameters chain string Blockchain where the NFTs have
          been minted. Allowed values: polygon rinkeby page_number integer The
          page number of the results to return. The first page is 1.>= 1
          Default: 1 page_size integer The number of results returned per page.
          Limit can range between 1 and 50, and the default is 50. >= 1 <= 50
          Default: 50
        </p> -->
      </div>
      <div class="col-md-12 col-lg-1"></div>
      <div class="col-md-12 col-lg-5">
        <div class="request-boxes mt-4">
          <div class="heading-box">
            <table>
              <tr>
                <td class="headings" style="padding: 20px 20px">
                  Sample Response
                </td>
              </tr>
            </table>
          </div>
          <div class="box-body">
            <textarea class="transparent-inputs">
{"tokenId":"79770","tokenURI":"ipfs://QmThq6499z9oFEDZgbxV1HecVEaXywSj7JQxHPqW7xvTnW"}
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [isLoaded]="isLoaded"></app-loader>
