<app-header></app-header>
<!-- Hero Section -->
<div class="container-fluid hero-section">
  <div class="container-lg pt-1 pb-3">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="hero-text-box">
          <h1 class="text-uppercase hero-heading gradient-text-hero">
            shyft<sup class="gradient-text-hero" style="text-transform: none; font-size: 0.3em; top: -2em; line-height: 0;">(α)</sup>
          </h1>
          <h3 class="hero-sub-heading">
            APIs For Frictionless NFT integration
          </h3>
          <div class="hero-padded-section">
            <p class="p-para-hero">
              Build your web3.0 products using our NFT CRUD APIs in days, not
              months and manage them using our intuitive dashboard
            </p>
          </div>
          <div class="hero-button-container">
            <a routerLink="/get-api-key"
              ><button class="btn-solid-reg">Try Shift for Free</button></a
            >
            <p class="p-para-normal">
              If you already have an API key,
              <a class="gradient-text" routerLink="/dashboard"
                ><b>click here</b></a
              >
              to continue
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="style-circle-container">
          <div class="style-circle">
            <img class="image-rocket" src="assets/images/rocket.svg" />
            <img
              class="image-investor floater-img"
              src="assets/images/hero-investor.png"
              alt="Investor"
            />
            <img
              class="image-marketer"
              src="assets/images/marketing-manager.png"
              alt="Marketer"
            />
          </div>
        </div>
        <div class="hero-button-container-2 text-center">
          <a routerLink="/get-api-key"
            ><button class="btn-solid-reg">Try Shift for Free</button></a
          >
          <p class="p-para-normal">
            If you already have an API key,
            <a class="gradient-text" routerLink="/dashboard"
              ><b>click here</b></a
            >
            to continue
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid donut-background">
  <div class="container-lg why-us">
    <div class="why-us-text-container">
      <div>
        <h3 class="section-sub-heading">Why Us?</h3>
      </div>
    </div>
    <div class="icon-points">
      <div class="row gx-1 gy-1">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row pt-5">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
              <div class="why-us-img-container">
                <img
                  src="assets/images/MultiChainSupport.png"
                  alt="Multi Support Chain"
                />
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
              <div class="why-us-text-features text-center text-md-start">
                <h6 class="why-us-text-headings">Multi-chain support</h6>
                <p class="p-para-normal">
                  Single API and code base for building magic on different
                  blockchains. (Currently, Solana and polygon more coming soon)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row pt-5">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
              <div class="why-us-img-container">
                <img
                  src="assets/images/Money-bag-man.png"
                  alt="Cost Effective"
                />
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
              <div class="why-us-text-features text-center text-md-start">
                <h6 class="why-us-text-headings">Cost Effective</h6>
                <p class="p-para-normal">
                  No prior web 3 development experience
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row pt-5">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
              <div class="why-us-img-container">
                <img
                  src="assets/images/business-marketing-dashboard.png"
                  alt="Dashboard"
                />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
              <div class="why-us-text-features text-center text-md-start">
                <h6 class="why-us-text-headings">Dashboard</h6>
                <p class="p-para-normal">GUI for managing your product NFTs</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="row pt-5">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
              <div class="why-us-img-container">
                <img src="assets/images/Brain-Storm.png" alt="Crud" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
              <div class="why-us-text-features text-center text-md-start">
                <h6 class="why-us-text-headings">Crud</h6>
                <p class="p-para-normal">
                  Automate complex operations with our dead simple crud/NFT
                  apis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid partner-with-container">
  <div class="container-lg">
    <div class="support-chain">
      <div class="row">
        <div class="col-sm-12">
          <div class="pt-5 pb-5">
            <h3 class="section-sub-heading">Our Support Chain</h3>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-3">
          <img
            class="img-fluid blockchain-img"
            src="assets/images/ethereum.png"
            alt="Ethereum"
          />
          <p class="p-caption">Ethereum</p>
        </div>
        <div class="col-3">
          <img
            class="img-fluid blockchain-img"
            src="assets/images/polygon.png"
            alt="Polygon"
          />
          <p class="p-caption">Polygon</p>
        </div>
        <div class="col-3">
          <img
            class="img-fluid blockchain-img"
            src="assets/images/solana-sol-cryptocurrency.png"
            alt="Solana"
          />
          <p class="p-caption">Solana</p>
        </div>
        <div class="col-3">
          <img
            class="img-fluid blockchain-img"
            src="assets/images/celo.png"
            alt="Celo"
          />
          <p class="p-caption">Celo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg">
    <div class="engage-section">
      <div class="row">
        <div class="col-sm-12">
          <div class="pt-5">
            <h3 class="section-sub-heading">Engage With Us</h3>
          </div>
        </div>
      </div>
      <div class="row reversal">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="pt-3 text-center text-md-start">
            <span class="inline-image"
              ><a href="https://discord.gg/UypKpEH9" target="_blank"
                ><img
                  src="assets/images/Icons/discord.svg"
                  alt="Shyft Discord"
                /><span>Discord</span></a
              ></span
            >
          </div>
          <p class="p-para text-center text-md-start">
            Get in touch to our discord community, know more about Shyft,
            request features and get support on our channel.
          </p>
          <div class="text-center text-md-start">
            <a href="https://discord.gg/UypKpEH9" target="_blank"
              ><button class="btn-solid-reg">Join community</button></a
            >
          </div>
          <p class="p-para text-center text-md-start">
            Show some love on our social handles...Follow us
          </p>
          <div class="text-center text-md-start">
            <span class="icon"
              ><a href="https://twitter.com/shyft_to" target="_blank"
                ><img
                  src="assets/images/Icons/twitter.svg"
                  alt="Shyft Twitter" /></a
            ></span>
            <span class="icon"
              ><a href="https://github.com/Shyft-to" target="_blank"
                ><img
                  src="assets/images/Icons/github.svg"
                  alt="Shyft GitHub" /></a
            ></span>
          </div>
          <p class="p-para text-center text-md-start">
            Discuss your project’s NFT requirements.
          </p>
          <div class="text-center text-md-start">
            <button class="btn-solid-reg">E mail Us</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="img-news">
            <img
              class="img-fluid floater-img"
              src="assets/images/newsletter-1.png"
              alt="Subscribe"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
