<app-header></app-header>
<div class="container-fluid hero-section">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-lg-12 col-xl-8">
        <div class="hero-text-box">
          <h1 class="text-uppercase hero-heading">shyft</h1>
          <h3 class="hero-sub-heading">APIs to make NFTs</h3>
          <div class="mt-5 pb-5">
            <a routerLink="/get-api-key"><button class="btn-solid-reg">Try Shift for Free</button></a>
            <p class="p-para-normal">
              If you already have an API key,
              <a routerLink="/access-to-nft"><b>click here</b></a> to continue
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-4">
        <div class="style-circle-container">
          <div class="style-circle">
            <img class="image-rocket" src="assets/images/rocket.svg" />
            <img
              class="image-investor floater-img"
              src="assets/images/hero-investor.png"
              alt="Investor"
            />
            <img
              class="image-marketer"
              src="assets/images/marketing-manager.png"
              alt="Marketer"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid" style="overflow: hidden; padding-top: 200px; padding-bottom: 50px; height: 150px;">
  <div style="width: 110%; margin-top: -5%; margin-left: -5%; height: 500px; transform: rotate(-4deg); position: relative; z-index: -2; background-color: #D6EDFF;">

  </div>
</div> -->
<div class="container-fluid upper-angular-region"></div>
<div class="container-fluid donut-background">
  <div class="container support-chain">
    <div class="row custom-padding-10">
      <div class="col-sm-12">
        <div class="pt-5">
          <h3 class="section-sub-heading">Our Support Chain</h3>
        </div>
      </div>
    </div>
    <div class="row text-center mt-5 pt-4">
      <div class="col-6 col-sm-6 col-md-6 col-xl-3 pt-3">
        <img
          class="img-fluid blockchain-img"
          src="assets/images/ethereum.png"
          alt="Ethereum"
        />
        <p class="p-caption">Ethereum</p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-3 pt-3">
        <img
          class="img-fluid blockchain-img"
          src="assets/images/polygon.png"
          alt="Polygon"
        />
        <p class="p-caption">Polygon</p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-3 pt-3">
        <img
          class="img-fluid blockchain-img"
          src="assets/images/solana-sol-cryptocurrency.png"
          alt="Solana"
        />
        <p class="p-caption">Solana</p>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-3 pt-3">
        <img
          class="img-fluid blockchain-img"
          src="assets/images/celo.png"
          alt="Celo"
        />
        <p class="p-caption">Celo</p>
      </div>
    </div>
  </div>
  <div class="container why-us">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="why-us-text-container">
          <div>
            <h3 class="section-sub-heading">Why Us?</h3>
          </div>
          <div>
            <p class="p-para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum
              netus fames viverra facilisis. Vulputate sed lectus augue senectus
              et. Et ipsum congue senectus viverra semper lectus nisl.
            </p>
          </div>
          <div class="list-container">
            <ul class="list-unstyled li-space-lg indent">
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Dead Simple</div>
              </li>
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Cost Effective</div>
              </li>
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Time to market is very low</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="money-man-container" style="position: relative">
          <img
            class="floater-img money-bag-man-img"
            src="assets/images/Money-bag-man.png"
            alt="Success"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid" style="overflow: hidden; padding-top: 165px; padding-bottom: 10px; height: 100px; background-color: transparent; margin-top: -100px;">
  <div style="width: 120%; margin-top: -5%; margin-left: -5%; height: 500px; transform: rotate(-4deg); position: relative; z-index: 4; background-color: #FFF;">

  </div>
  <div style="height: 500px; background-color: #D6EDFF; width: 120%; position: relative; z-index: 3; margin-top: -500px; margin-left: -2%;">
      
  </div>
</div> -->
<div class="container-fluid lower-angular-region"></div>
<div class="container-fluid partner-with-container">
  <div class="container">
    <div class="container partner-with">
      <div class="row partner-with-us-text-section">
        <div class="col-sm-12 col-md-9">
          <div class="why-us-text-container">
            <div class="pt-4">
              <h3 class="section-sub-heading">Partner with us</h3>
            </div>
            <div>
              <p class="p-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Interdum netus fames viverra facilisis. Vulputate sed lectus
                augue senectus et. Et ipsum congue senectus viverra semper
                lectus nisl.
              </p>
            </div>
            <div class="pt-3">
              <p class="p-para">Follow Us and Subscribe us on:</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Logo Sections -->
      <div class="logo-section-container">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-xl-3 p-3">
            <div class="box-gradient-container">
              <div class="box-gradient-outline">
                <img
                  class="grower-img"
                  src="assets/images/discord.png"
                  alt="Discord"
                />
              </div>
              <div class="fixed-button-container pl-3 pr-3">
                <button class="fixed-width-button">Discord</button>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-xl-3 p-3">
            <div class="box-gradient-container">
              <div class="box-gradient-outline">
                <img
                  class="grower-img-inverse"
                  src="assets/images/twitter.png"
                  alt="Twitter"
                />
              </div>
              <div class="fixed-button-container pl-3 pr-3">
                <button class="fixed-width-button">Twitter</button>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-xl-3 p-3">
            <div class="box-gradient-container">
              <div class="box-gradient-outline">
                <img
                  class="grower-img"
                  src="assets/images/email-resized.png"
                  alt="Email"
                />
              </div>
              <div class="fixed-button-container pl-3 pr-3">
                <button class="fixed-width-button">Newsletter</button>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-xl-3 p-3">
            <div class="box-gradient-container">
              <div class="box-gradient-outline">
                <img
                  class="grower-img-inverse"
                  src="assets/images/faq-resized.png"
                  alt="Faq"
                />
              </div>
              <div class="fixed-button-container pl-3 pr-3">
                <button class="fixed-width-button">FAQs</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

